@model IEnumerable<SoftwareDesign.Entities.PackageEntity>
@*
    Thalles and Jessie Use Case Implementation
*@

@{
    ViewBag.Title = "Search";
}

<h4>Search Packages</h4>

@using (Html.BeginForm("Search","Package", FormMethod.Get))
{
    <div>
        <div>
            @Html.DropDownList("TransportId", "-select transport-")
            <br />
            @Html.DropDownList("DestinationId", "-select destination-")
            <br />
            @Html.DropDownList("HotelId", "-select hotel-")
        </div>
        <br />
        <div>
            <div style="float:right; background-color:limegreen">
                <input id="btnSearch" type="submit" value="Search" />
            </div>
        </div>
    </div>
}
<p>
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Price)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.StartDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.EndDate)
            </td>
            <td>
                @Html.ActionLink("View Package", "ViewPackage", new { packageId = item.PackageId })
            </td>
        </tr>
    }

</table>
