@model IEnumerable<SoftwareDesign.Model.DataModel.Package>

@{
    ViewBag.Title = "Search";
}

<h4>Search Packages</h4>

@using (Html.BeginForm("Search","Package"))
{
    <div>
        <div>
            @Html.DropDownList("TransportType")
            <br />
            @*@Html.DropDownList("DestinationType")*@
            <br />
            @*@Html.DropDownList("HotelType")*@
        </div>
        <br />
        <div>
            <div style="float:right; background-color:limegreen"><input id="Button1" type="button" value="Search" /></div>
        </div>
    </div>
}
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Price)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.StartDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EndDate)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.StartDate)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.EndDate)
        </td>
        <td>
            @Html.ActionLink("Details", "Details", new { id=item.PackageId })        
        </td>
    </tr>
}

</table>
