@model SoftwareDesign.Entities.PackageEntity

@{
    ViewBag.Title = "ViewPackage";
}

<h2>ViewPackage</h2>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<p>    
    <a href="#" id="btnBuyPackage">Buy Package</a> |
    @Html.ActionLink("Back", "Search")

</p>

@Html.ActionLink("Make Enquire", "MakeEnrquire","Enquire",new { packageId = Model.PackageId})
@section scripts
{
    <script src="~/App_Scripts/Package.js"></script>
    <script>
        var package = new Package.BuyPackageController();
    </script>
}
