@model SoftwareDesign.DTO.PackageDTO

@{
    ViewBag.Title = "ViewPackage";
}

<h2>ViewPackage</h2>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <div style="float:left"><label>Add Service:</label></div>
    <div style="float:left"><select id="js-serviceOption" style="width: 400px;"></select></div>
</div>
<br />
<p style="clear:both">
    <a href="#" id="js-btnBuyPackage">Buy Package</a> |
    @Html.ActionLink("Back", "Search")
</p>

@Html.ActionLink("Make Enquire", "Index", "Enquire", new { packageId = Model.PackageId }, null)
@section scripts
{
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.common-material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.min.css" />
    <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2017.3.1026/styles/kendo.material.mobile.min.css" />

    <script src="https://kendo.cdn.telerik.com/2017.3.1026/js/kendo.all.min.js"></script>

    <script src="~/App_Scripts/Package.js"></script>
    <script>
        var package = new Package.BuyPackageController(@Model.PackageId);
    </script>
}
