@model SoftwareDesign.Entities.PackageEntity

@{
    ViewBag.Title = "ViewPackage";
}

<h2>ViewPackage</h2>

<div>
    <h4>Package</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EndDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EndDate)
        </dd>
    </dl>
</div>
<div>
    <label>Add Service:</label>
    <select id="js-serviceOption">
        <option value="0">-Select a Service-</option>
        <option value="1">Honney Moon</option>
        <option value="2">Bachelor Party Holiday</option>
        <option value="3">BirthDay Party</option>
    </select>
    <input type="button" id="js-btnAddService" value="Add Service" />
</div>
<div id="js-services">
</div>

<p>
    <a href="#" id="js-btnBuyPackage">Buy Package</a> |
    @Html.ActionLink("Back", "Search")
</p>

@Html.ActionLink("Make Enquire", "Index", "Enquire", new { packageId = Model.PackageId }, null)
@section scripts
{
    <script src="~/App_Scripts/Package.js"></script>
    <script>
        var package = new Package.BuyPackageController(@Model.PackageId);
    </script>
}
